body, html {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo img {
    width: 97px;
    height: 81px;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 100px;
}

.navbar ul li {
    margin-left: 40px;
    padding: 10px;
}

.navbar a {
    color: #5B5B5B;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

.navbar-right {
    display: flex;
    align-items: center;
    position: relative;
    /* right: -9px; */
    left: 150px;

}
.navbar-right a {
    color: #4169E1;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    font-size: 18px;
}
.navbar-right img {
    margin-right: 20px;
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.navbar-right .log {
    background-color: #4169E1;
    padding: 10px 30px;
    border-radius: 30px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 30px;
}
.sentence h1{
    width: 1000px;
    position: absolute;
    text-align: center;
    top:258px;
    left: 252px;
    font-size: 55px;
    font-weight: 800;

}
.search {
    display: flex;
    align-items: center;
    position: absolute;
    top: 460px;
    left: 395px;
    width: 740px;
    height: 250px;
}

.search input {
    width: 90%;
    padding: 21px 46px ; 
    border-radius: 80px;
    font-size: 24px;
    border: 1px solid #AAA8A8;
}

.search input::placeholder {
    color: #AAAAAA; 
}

.search-btn {
    position: absolute;
    left: 660px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-btn img {
    width: 26px; 
    height: 26px;
}
.place{
    position: absolute;
    top: 740px;
    left: 104px;
    width: 1300px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.place .top-place h2{
    font-size: 40px;
}
.place .top-place p{
    font-size: 22px;
}

.review button{
    background-color: #FFFFFF;
    width: 278px;
    height: 69px;
    border-radius: 40px;
    border: 2px solid #4169E1;
    display: flex;
    align-items: center;
    font-size: 20px;

}
.review button a{
    color: #4169E1;
    text-decoration: none;
}
.review button img{
    width: 24px;
    height: 24px;
    padding-left: 28px;
    padding-right: 18px;

}
.cards{
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 865px;
    left: 160px;
}
.cards-review{
    display: flex;
    gap: 60px;
    width: 1120px;
}
.cards-review img{
    height: 400px;
    border-radius: 24px;
}
.cards-content{
    padding: 20px;
}
.cards-content h3{
    font-size: 18px;
    color: #5B5B5B;
    font-weight: 500;
}
.cards-content h2{
    font-size: 24px;
    color: #000000;
    font-weight: 700;
}
.cards-content p{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.cards-rate{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cards-rate span{
    font-size: 30px;
    cursor: pointer;
}
.cards-rate a{
    font-size: 20px;
    text-decoration: none;
    color: #4169E1;
}
footer {
    background-color: #4169E1; 
    position: absolute;
    top: 2410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1519px;
    height: 458px;
    color: #FFFFFF; 
}

footer img {
    width: 147px; 
    height: 120px;
    margin-bottom: 20px;
}

footer p {
    margin: 0;
    font-size: 24px;
}



.star {
    font-size: 30px; 
    cursor: pointer; 
    margin-right: 5px; 
    color: #ccc; 
}

.star.selected {
    color: #FFD700; 
}
#search_icon{
    opacity: 1;
    position: absolute;
    left: 15px;
}
#search_icon2{
    opacity: 0;
}

@media (max-width: 767px) {
    body{
        overflow-x: hidden;
    }

    #search_icon{
        opacity: 0;
    }
    #search_icon2{
        opacity: 1;
        position: relative;
        top: 5px;
    }
    nav {
        padding: 10px 30px;
        position: relative; 
    }
    .navbar-right a, .navbar a {
        color: #FFFFFF;
    
        font-weight: 700;
        font-size: 25px;
    }
    .navbar-right .log {
        background-color: #FFFFFF;
        padding: 10px 30px;
        border-radius: 30px;
        color: #000000;
    }
    .navbar,.navbar-right {
        display: none;
    }

    .navbar-right.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1622fff0;
        position: absolute;
        gap: 15px;
        top: 63.2px;
        left: auto;
        right:20px;
        width: 50%;
        padding: 20px;
        z-index: 1;
    }
    .navbar.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1622fff0;
        position: absolute;
        top: 270px;
        right:20px;
        width: 50%;
        padding: 20px;
        z-index: 1;
    }
    .navbar ul {
        flex-direction: column;
        left: -18px;
    }

    .navbar ul li {
        margin-left: 0;
        padding: 10px;
    }

    .navbar-right {
        margin-top: 10px;
    }
    .navbar-right img {
        margin-left: 25px;
        margin-top: 20px;
    }

    .menu {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px; 
        background: url('../assets/images/menu2.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }

    .menu.open {
        background: url('../assets/images/close.png') no-repeat center center; 
        background-size: contain;
    }
    .logo img {
        width: 70px;
        height: 60px;
    }

    .sentence h1 {
        width: 95%;
        left: 18px;
        top: 120px;
        font-size: 33px;
    }
    .search{
        left: 10px;
        top: 255px;
        width: 96%;
    }
    .search input {
        width: 100%;
        font-size: 18px;
        padding: 18px 30px;
    }
    .search-btn{
        left: 400px;
    }
    .place{
        width: 100%;
        flex-direction: column;
        top: 500px;
        left: 5px;
    }
    .place .top-place h2 {
        font-size: 35px;
    }
    .place .top-place p {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .cards{
        left: 21.5px;
        top: 800px;
    }
    .cards-review{
        flex-direction: column;
        width: 95%;
    }
    .cards-review img{
        border-radius: 35px;
        height: 385px;
    }
    .cards-content {
        padding-top: 0px;
    }
    .cards-content h3 {
        font-size: 16px;
    }
    .cards-content h2 {
        font-size: 22px;
    }
    .cards-content p {
    font-size: 16px;
    }

    footer {
        top: 210pc;
        width: 483px;
        height: 364px;
    }
    
    footer img {
        width: 114px;
        height: 93px;
    }
    
    footer p {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

}